<div class="row">
  <div class="footer">
    <div class="footer_contact">
      <div class="tousfooter">
        <div class="logofooter">
          <%= image_tag "logo.png", height: 50%>
        </div>


        <div class="contenufooter">
          <h6>itmes</h6>
          <p>Société par actions simplifiées</p>
          <p>35 rue Chevreul 94600 Choisy le roi</p>
        </div>
      </div>
    </div>
  </div>
</div>
