<div class="footer">
  <div class="footer-contact">
      <h6>itmes</h6>
      <p>835 250 572 R.C.S. Cre패teil</p>
      <p>Socie패te패 par actions simplifie패es</p>
      <p>35 rue Chevreul 94600 Choisy le roi</p>
    </div>
  </div>
</div>
