<div class="footer">
  <div class="footer_contact">
    <br>
    <h5>itmes</h5>
    <p>Société par actions simplifiées</p>
    <p>Siège social : 35 rue Chevreul 94600 Choisy le roi</p>
  </div>
</div>
