<div class="footer">
  <div class="footer_contact">
    <h6><%= image_tag "logo.png", height: 50%> itmes</h6>
    <p>Société par actions simplifiées</p>
    <p>35 rue Chevreul 94600 Choisy le roi</p>
  </div>
</div>

