<div class="body-contact">
  <div class="contact text-center">
    <div class="row text-center">

      <div class="contact-card">
        <div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-2">
          <div class="contact-links">
            <a href="mailto:contact@itmes.fr" title="contact@itmes.fr"><i class="fa fa-envelope fa-3x"></i></a>
          </div>
          <div class="contact-content ">
            <p>contact@itmes.fr</p>
          </div>
        </div>
      </div>

      <div class="contact-card">
        <div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-1">
          <div class="contact-links">
            <a href="contact.html"><i class="fa fa-comments-o fa-3x"></i></a>
          </div>
          <div class="contact-content ">
            <p>Nous contacter</p>
          </div>
        </div>
      </div>

      <div class="contact-card">
        <div class="col-xs-12 col-sm-4 col-md-2 col-md-offset-1">
          <div class="contact-links">
            <a href="legal_terms.html"><i class="fa fa-gavel fa-3x"></i></a>
          </div>
          <div class="contact-content ">
            <p>Mentions Légales</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
