<div class="navbar-wagon">
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <div class="navbar-wagon-item">
      <a href="index.html" class="dropdown-toggle" id="couleur-bouton-lien-itmes">Acceuil</a>
    </div>
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <p class=" dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">Entreprise</p>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
           <li><a href="entreprise_presentation.html" id="taille-lien-drop-itmes">Présentation</a></li>
          <li><a href="entreprise_qhse.html" id="taille-lien-drop-itmes">QHSE</a></li>
        </ul>
      </div>
    </div>

    <div class="navbar-wagon-item">
      <div class="dropdown">
        <p class=" dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">Technologie</p>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="techno_turbine.html" id="taille-lien-drop-itmes">Turbine à vapeur</a></li>
          <li><a href="techno_pompe.html" id="taille-lien-drop-itmes">Turbo pompe alimentaire</a></li>
          <li><a href="techno_turbo.html" id="taille-lien-drop-itmes">Pompe primaire</a></li>
        </ul>
      </div>
    </div>

    <div class="navbar-wagon-item">
      <div class="dropdown">
        <p class=" dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">Intervention sur site</p>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="intervention_instru.html" id="taille-lien-drop-itmes">Instrumentation</a></li>

          <li><a href="intervention_service.html" id="taille-lien-drop-itmes">Mise en service</a></li>
          <li><a href="intervention_conception.html" id="taille-lien-drop-itmes">Conception 3D</a></li>
          <li><a href="intervention_surveillance.html" id="taille-lien-drop-itmes">Surveillance</a></li>
          <li><a href="intervention_piece.html" id="taille-lien-drop-itmes">Pièces de rechange</a></li>
          <li><a href="intervention_formation.html" id="taille-lien-drop-itmes">Formation</a></li>
        </ul>
      </div>
    </div>

    <div class="navbar-wagon-item">
      <a href="contact.html" class="dropdown-toggle" id="couleur-bouton-lien-itme">Contact</a>
    </div>
  </div>


  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

          <li><a href="Présentation" id="taille-lien-drop-itmes">Présentation</a></li>

          <li><a href="QHSE" id="taille-lien-drop-itmes">QHSE</a></li>

          <li><a href="Turbine à vapeur" id="taille-lien-drop-itmes">Turbine à vapeur</a></li>

          <li><a href="Turbo pompe alimentaire" id="taille-lien-drop-itmes">Turbo pompe alimentaire</a></li>

          <li><a href="Pompe primaire" id="taille-lien-drop-itmes">Pompe primaire</a></li>

          <li><a href="Instrumentation" id="taille-lien-drop-itmes">Instrumentation</a></li>

          <li><a href="Mise en service" id="taille-lien-drop-itmes">Mise en service</a></li>

          <li><a href="Conception 3D" id="taille-lien-drop-itmes">Conception 3D</a></li>

          <li><a href="Surveillance" id="taille-lien-drop-itmes">Surveillance</a></li>

          <li><a href="Pièces de rechange" id="taille-lien-drop-itmes">Pièces de rechange</a></li>

          <li><a href="Formation" id="taille-lien-drop-itmes">Formation</a></li>
      </ul>
    </div>
  </div>
</div>
