.footer {
  background:  #101875;
  display: flex;
  align-items: center;

  color: #F9F9F9;
  text-align: center;
  justify-content: center;
}

.footer-links {
  display: flex;
  align-items: right;
}

.footer-links a {
  color: #F9F9F9;
  opacity: 1;
  text-decoration: none;
  font-size: 12px;
  padding: 0px 10px;
  text-align: center;
}

.footer-links a:hover {
  opacity: 0.6;
}

.footer-contact {
font-size: 11px;
line-height: 4pt;
}

.footer_contact h6 {
font-size: 12px;
}

.tousfooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contenufooter {
 padding-left: 20px;
}

