.contact {
  padding: 30px 30px;
  width: 100%;
  background-color: #DF1222;
}

.contact-card {

  margin-right: 50px;
  margin-left: 50px;
}

.contact-links a {
  color: #F9F9F9;
  opacity: 1;
  text-decoration: none;
  font-size: 12px;
}

.contact-links a:hover {
  opacity: 0.5;
}

.contact-content {
  color: #F9F9F9;
  font-size: 13px;
  margin: 10px 15px;
  font-weight: lighter;
}

