<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
      <div class="title">
        <h3>Intervention sur site</h3>
        <h2>FORMATION</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
      <div class="content">
        <p>Besoin d’un apport théorique et/ou pratique pour mieux comprendre une activité sans forcément l’accomplir?</p>
        <br>
        <p>Besoin d’une formation complète sur un sujet précis dans le but d’effectuer une tâche complexe?
        ITMES répond à vos attentes et propose de nombreuses formations relatives à ses activités d’instrumentation et de mise en service. </p>
        <p>Les demandes seront examinées suivant le plan de charge de l’année.</p>
      </div>
    </div>
  </div>

</div>
