<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
      <div class="title">
        <h3>Intervention sur site</h3>
        <h2>PIECES DE RECHANGE</h2>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
      <div class="content">
        <p>Nous pouvons fournir les pièces de rechange utiles à la remise en état de capteurs, cartes électroniques ainsi que leurs installations sur site.</p>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>

</div>
