<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
      <div class="title">
        <h3>Intervention sur site</h3>
        <h2>CONCEPTION 3D</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "card2.png" %>');">
        <div class="card-description">
        <button type="button" class="bouton-modal-itmes" data-toggle="modal" data-target="#myModal-1">
          <h2>Analyse</h2>
          <p>En savoir +</p>
        </button>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "card5.png" %>');">
        <div class="card-description">
          <button type="button" class="bouton-modal-itmes" data-toggle="modal" data-target="#myModal-2">
            <h2>Conception</h2>
            <p>En savoir +</p>
          </button>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=image_path "card8.png" %>');">
        <div class="card-description">
          <button type="button" class="bouton-modal-itmes text-left" data-toggle="modal" data-target="#myModal-3">
            <h2>Fabrication</h2>
            <p>En savoir +</p>
          </button>
        </div>
      </div>
    </div>
  </div>


<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="myModal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Analyse</h4>
        </div>
        <div class="modal-body">
          <p>Analyse du besoin spéficique du client sur site. Mise en place d’un cahier des charges avec le client.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Conception</h4>
        </div>
        <div class="modal-body">
          <p>Conception de(s) pièce(s) en CAO répondant au besoin client.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Fabrication</h4>
        </div>
        <div class="modal-body">
          <p>Fabrication des pièces pour validation fonctionnelle sur site.</p>
        </div>
      </div>
    </div>
  </div>

</div>
