<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
      <div class="title">
        <h2>MENTIONS LEGALES</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
      <div class="content">
        <p>ITMES</p>
        <p>35 Rue Chevreul 94600 Choisy-le-Roi</p>
        <p>Société par actions simplifiée au capital de 3000€</p>
        <p>835 250 572 R.C.S. Créteil</p>
        <p>Dirigeant: PETROZZI Jean Marc</p>
        <p>contact@itmes.fr</p>
        <p>Copyright</p>
        <p>Tous droits réservés, y compris les représentations visuelles, photographiques, iconographiques ou autres.</p>
      </div>
    </div>
  </div>

</div>

