<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
      <div class="title">
        <h3>Technologies</h3>
        <h2>TURBO POMPE ALIMENTAIRE</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
      <div class="content">
        <p>Entre le condenseur et les générateurs de vapeur (GV), l'eau reste sous forme liquide. Des turbo pompes Alimentaires (TPA), alimentées par de la vapeur, permettent d’élever la pression de l’eau  et des échangeurs de chaleur en élèvent la température (60 bar et 220 °C) ;</p>
        <p>Ces TPA sont des éléments majeurs dans le circuit secondaire. Ils ne doivent pas être négligés dans le procesus de maintenance du groupe turbo alternateur, autant dans leurs mécaniques que dans leurs instrumentations.</p>

      </div>
    </div>
  </div>

</div>
