<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">

      <div class="title">
        <h3>Technologie</h3>
        <h1>POMPE PRIMAIRE</h1>
      </div>

      <div class="content">
        <p>En cours de construction</p>
        <br>
        <br>
        <br>
        <br>
      </div>

    </div>
  </div>
</div>
