<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
      <div class="title">
        <h3>Technologies</h3>
        <h2>POMPE PRIMAIRE</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-md-offset-2">
      <div class="content">
        <p>Les pompes primaires sont des éléments primordiaux dans le circuit primaire d’une centrale.</p>
        <p>Le circuit primaire évacue la chaleur dégagée dans le cœur du réacteur grâce à une circulation d’eau sous pression, dite eau ou réfrigérant primaire, dans des boucles de refroidissement.</p>
        <p>Chaque boucle de refroidissement, raccordée à la cuve, est équipée d’une pompe primaire, qui assure la circulation de l’eau chauffée au contact des éléments combustibles vers des échangeurs de chaleur (les générateurs de vapeur) dans lesquels l’eau primaire transfère son énergie aux circuits secondaires avant de revenir dans le cœur.</p>
        <p>L’instrumentation est un élément essentiel dans le bon fonctionnement de ces pompes car une fois la période de maintenance terminée, seuls les capteurs installés transmettent les informations à l’opérateur sur l’état de la machine.</p>

      </div>
    </div>
  </div>

</div>
