<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
      <div class="title">
        <h3>Technologies</h3>
        <h2>TURBO POMPE ALIMENTAIRE</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
      <div class="content">
        <p>En cours de construction</p>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>

</div>
