<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
      <div class="title">
        <h2>CONTACT</h2>
        <a href="mailto:contact@itmes.fr" title="contact@itmes.fr">contact@itmes.fr</a>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-md-offset-2">
      <div class="content">
        <p>Merci, vos coordonnées ont bien été enregistrées.</p>
        <p>Nous vous recontacterons très prochainement.</p>
      </div>
    </div>
  </div>

</div>

